{% extends 'base.html.twig' %}

{% block title %}Hello WebsiteController!{% endblock %}

{% block body %}

    <h1 class="text-center m-5">All my websites</h1>
    </div>
    {% for website in websites %}
        {% if loop.index % 2 == 1 %}
            <div class="media mb-3 mt-5" >
                <div class="media-body m-5 text-right m-auto ">
                    <h3>{{ website.name }}</h3>
                    {{ website.description }}
                    <a>{{ website.link }}</a>
                </div>
                <img class="ml-5" src="{{ website.picture }}">
            </div>
        {% endif %}
        <div class="media mb-3 mt-5">
        <img class="ml-5" src="{{ website.picture }}">

        <div class="media-body ml-5  text-center">
            <h3>{{ website.name }}</h3>
            {{ website.description }}
            <a>{{ website.link }}</a>
        </div>
    </div>
        {% else %}

    {% endfor %}
{% endblock %}
