{% extends 'base.html.twig' %}

{% block title %}Hello WebsiteController!{% endblock %}

{% block body %}

<h1 class="text-center m-5 text-white" style="text-shadow: black 1px 1px;">All my websites</h1>
</div>
{% for website in websites %}
<div class="article m-5 shadow-sm" style="border: 1px solid burlywood ">
    {% if loop.index % 2 == 1 %}
        <div class="media ">
            <div class="media-body  text-center m-auto ">
                <h3>{{ website.name }}</h3>
                <p class="m-auto w-50 text-center">{{ website.description }}</p>
                <a>{{ website.link }}</a>
            </div>
            <img class="" src="{{ website.picture }}">
        </div>
    {% else %}
        <div class="media  ">
            <img class="w-50" src="{{ website.picture }}">

            <div class="media-body  text-center m-auto">
                <h3>{{ website.name }}</h3>
                <p class="m-auto w-50 text-center">{{ website.description }}</p>
                <a>{{ website.link }}</a>
            </div>
        </div> {% endif %}
</div>


    {% endfor %}
    {% endblock %}
