<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {% if app.request.get('_route')=='contact' %}
        <body class="bodyContact">
    {% else %}
    <body class="bodyUsual">
    {% endif %}
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block navbar %}
    {% if app.request.get('_route')=='home' %}
    <div class="image-banniere">
        {% endif %}
    {% if app.request.get('_route')=='website' %}
    <div class="image-banniere-website">
        {% endif %}

    {% if app.request.get('_route')=='software' %}
    <div class="image-banniere-software">
        {% endif %}

    {% if app.request.get('_route')=='apps' %}
    <div class="image-banniere-apps">
        {% endif %}
        {% if app.request.get('_route')=='website' or app.request.get('_route')=='software' %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style="text-shadow: black 1px 1px;">
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        {% endif %}

        <a class=" navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('website') }}">Websites</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('apps') }}">Apps</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('software') }}">Software</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact') }}">Contact me</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="{{ path('app_login') }}" tabindex="-1" aria-disabled="true">login</a>
                </li>
            </ul>
        </div>
    </nav>


        {% endblock %}
        {% block body %}{% endblock %}


        {% block javascripts %}
            <script src="https://kit.fontawesome.com/058949da31.js" crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %} <footer class="page-footer font-small blue p-4">

                <!-- Copyright -->
                <div class="d-flex justify-content-around">
                    <div class=""><i class="fab fa-instagram fa-3x  "></i></div>
                    <div class=""><i class="fab fa-github fa-3x"></i></div>
                    <div class=""><i class="fab fa-linkedin fa-3x"></i></div>
                </div>
                <!-- Copyright -->

            </footer>
    </body>
</html>
